In [319]:
import pandas as pd

df = pd.read_csv(r'C:\Users\User\Desktop\Data\ML\Tasks\data.csv', sep= ';')

In [321]:
print(df.head())

                     id                   address  \
0  AVwc__cikufWRAb51QjV         610 Commercial St
1  AVwc__cikufWRAb51QjV         610 Commercial St
2  AVwc__dF_7pvs4fz1Ncy      9521 Morton Davis Dr
3  AVwc__kCByjofQCxkdm-  10550 W I 25 Frontage Rd
4  AVwc__WtByjofQCxkdkR             8495 W 3rd St

                                          categories         city  \
0  Restaurant Delivery Service,Restaurants,Pizza,...     Atchison
1  Restaurant Delivery Service,Restaurants,Pizza,...     Atchison
2       Golf Course, American Restaurant, and Resort    Patterson
3                               Fast Food Restaurant     Longmont
4  Mexican Restaurant Mid-City West,Mexican Resta...  Los Angeles

                      cuisines             dateAdded           dateUpdated  \
0  Restaurant Delivery Service  2016-03-02T11:49:34Z  2017-02-01T18:04:44Z
1  Restaurant Delivery Service  2016-03-02T11:49:34Z  2017-02-01T18:04:44Z
2                          NaN  2016-10-14T01:58:25Z  2016-10-14T01:58:25Z
3                          NaN  2016-09-09T17:30:34Z  2016-10-04T05:15:17Z
4                      Mexican  2016-05-19T11:50:25Z  2016-09-11T00:06:37Z

                latitude                longitude menus.category  \
0              3.956.157               -9.512.102            NaN
1              3.956.157               -9.512.102            NaN
2             37.401.855             -121.266.703            NaN
3                    NaN                      NaN            NaN
4  3.408.072.429.999.990  -11.838.957.759.999.900            NaN

  menus.currency        menus.dateSeen  \
0            NaN  2017-02-01T18:04:44Z
1            NaN  2016-03-02T11:49:34Z
2            NaN  2016-10-14T01:58:25Z
3            NaN  2016-09-09T17:30:34Z
4            NaN  2016-05-19T11:50:25Z

                                   menus.description         menus.name  \
0                                                NaN               Taco
1  Beef, onion, cheddar cheese, lettuce,  refried...               Taco
2  Beef barbacoa or chicken, spanish rice, pico d...   Smotherd Burrito
3                                                NaN    Sausage Burrito
4  Wahoo, avocado, cabbage, pico de gallo  and av...  Wahoo Tacogrilled

                                name      province
0                    Gambino's Pizza            KS
1                    Gambino's Pizza            KS
2  Diablo Grande Golf & Country Club       Grayson
3                         Mcdonald's         Niwot
4           Baja Fresh Mexican Grill  Bicentennial

In [323]:
# Task 1: List the first three values of the dateAdded column, separated by a comma and a
# space, in the order they appear.

first_three_values = df['dateAdded'].head(3)

joined = ','.join(first_three_values.astype(str))
print(joined)

2016-03-02T11:49:34Z,2016-03-02T11:49:34Z,2016-10-14T01:58:25Z

In [325]:
# Task 2: Let's check the data types of the city and latitude columns.

df['city'].dtype

dtype('O')

In [327]:
df['latitude'].dtype

dtype('O')

In [329]:
# Task 3: Which columns will be displayed when the describe() method is applied?

df.describe()

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
count,77260,77260,77260,77260,38384,77260,77260,55636,55636,3729,40511,77260,29323,77260,77257,77257
unique,19439,18618,8488,3601,1588,17965,17675,14690,14690,962,2,18453,15730,15737,10526,1097
top,AVwch4pVByjofQCxfPyl,3000 N Dinuba Blvd,Mexican Restaurant,San Diego,Mexican,2015-10-23T02:21:55Z,2015-11-02T15:47:29Z,3.383.235,-11.812.516,Tacos,USD,2016-04-24T00:00:00Z,"Crunchy corn tortilla, spicy beef, american ch...",Breakfast Burrito,Chili's Grill & Bar,CA
freq,68,69,15094,1924,6280,79,68,53,53,291,40495,821,1087,3188,8296,23664

In [335]:
# Task 4: What are the mean values for the columns that describe() returned in the
# previous task?

df['latitude'].mean()

341.6594261321454

In [333]:
df['latitude'] = pd.to_numeric(df['latitude'], errors='coerce')
df['longitude'] = pd.to_numeric(df['longitude'], errors='coerce')

In [337]:
df['longitude'].mean()

-599.7989591419816

In [ ]:
# Task 5: Currently, there are missing values in the data. Let's remove them.

#df = df.dropna()

In [339]:
#Boşluqları silmək əvəzinə mode, mean ilə doldurdum.

df['cuisines'] = df['cuisines'].fillna(df['cuisines'].mode()[0])

In [341]:
df['latitude'] = df['latitude'].fillna(df['latitude'].mean())

In [343]:
df['longitude'] = df['longitude'].fillna(df['longitude'].mean())

In [345]:
cols = ['menus.category', 'menus.currency', 'menus.description', 'name', 'province']

for col in cols:
    df[col] = df[col].fillna(df[col].mode()[0])

In [347]:
df.isnull().sum()

id                   0
address              0
categories           0
city                 0
cuisines             0
dateAdded            0
dateUpdated          0
latitude             0
longitude            0
menus.category       0
menus.currency       0
menus.dateSeen       0
menus.description    0
menus.name           0
name                 0
province             0
dtype: int64

In [349]:
# Task 6: Filter for establishments located in the city of 'California', Missouri. Provide the
# DataFrame indices for these establishments.

filtered_df = df[(df['city'] == 'California') | (df['city'] == 'Missouri City')]
print(filtered_df)

                         id             address  \
11886  AVwcgcE__7pvs4fzv0kC    13915 Fondren Rd
30382  AVwcvyBbByjofQCxhuuh      4875 Highway 6
40483  AVwdBeyk_7pvs4fz1cwP        308 S Oak St
40663  AVwdBIaukufWRAb51cMc      8817 Highway 6
40664  AVwdBIaukufWRAb51cMc      8817 Highway 6
40665  AVwdBIaukufWRAb51cMc      8817 Highway 6
43856  AVwddqB-_7pvs4fz6J5L      6302 Highway 6
43857  AVwddqB-_7pvs4fz6J5L      6302 Highway 6
52930  AVwdKTFqIN2L1WUfs1SP  1020 W Buchanan St
52931  AVwdKTFqIN2L1WUfs1SP  1020 W Buchanan St
52932  AVwdKTFqIN2L1WUfs1SP  1020 W Buchanan St
52933  AVwdKTFqIN2L1WUfs1SP  1020 W Buchanan St
52934  AVwdKTFqIN2L1WUfs1SP  1020 W Buchanan St
52935  AVwdKTFqIN2L1WUfs1SP  1020 W Buchanan St
52936  AVwdKTFqIN2L1WUfs1SP  1020 W Buchanan St
52937  AVwdKTFqIN2L1WUfs1SP  1020 W Buchanan St
52938  AVwdKTFqIN2L1WUfs1SP  1020 W Buchanan St
52939  AVwdKTFqIN2L1WUfs1SP  1020 W Buchanan St
65070  AVwdvUhykufWRAb58z0G  1002 W Buchanan St
72718  AVweIwKFkufWRAb5AULg      6231 Highway 6
72719  AVweIwKFkufWRAb5AULg      6231 Highway 6
72720  AVweIwKFkufWRAb5AULg      6231 Highway 6
72721  AVweIwKFkufWRAb5AULg      6231 Highway 6
72722  AVweIwKFkufWRAb5AULg      6231 Highway 6
72723  AVweIwKFkufWRAb5AULg      6231 Highway 6
72724  AVweIwKFkufWRAb5AULg      6231 Highway 6
72725  AVweIwKFkufWRAb5AULg      6231 Highway 6
72726  AVweIwKFkufWRAb5AULg      6231 Highway 6
72727  AVweIwKFkufWRAb5AULg      6231 Highway 6
73816  AVweLt57ByjofQCxv_0c      8817 Highway 6
73817  AVweLt57ByjofQCxv_0c      8817 Highway 6
73818  AVweLt57ByjofQCxv_0c      8817 Highway 6

                                              categories           city  \
11886  Fast Food Restaurant,Burger Joint,Burger Joint...  Missouri City
30382                      Restaurant,Mexican Restaurant  Missouri City
40483  Gas Station,Convenience Stores,Grocery Stores,...     California
40663  BBQ Joint and American Restaurant,American Res...  Missouri City
40664  BBQ Joint and American Restaurant,American Res...  Missouri City
40665  BBQ Joint and American Restaurant,American Res...  Missouri City
43856                                American Restaurant  Missouri City
43857                                American Restaurant  Missouri City
52930  Fast Food Restaurant and Mexican Restaurant,Me...     California
52931  Fast Food Restaurant and Mexican Restaurant,Me...     California
52932  Fast Food Restaurant and Mexican Restaurant,Me...     California
52933  Fast Food Restaurant and Mexican Restaurant,Me...     California
52934  Fast Food Restaurant and Mexican Restaurant,Me...     California
52935  Fast Food Restaurant and Mexican Restaurant,Me...     California
52936  Fast Food Restaurant and Mexican Restaurant,Me...     California
52937  Fast Food Restaurant and Mexican Restaurant,Me...     California
52938  Fast Food Restaurant and Mexican Restaurant,Me...     California
52939  Fast Food Restaurant and Mexican Restaurant,Me...     California
65070                               Fast Food Restaurant     California
72718  Fast Food Restaurant,American Restaurant,Burge...  Missouri City
72719  Fast Food Restaurant,American Restaurant,Burge...  Missouri City
72720  Fast Food Restaurant,American Restaurant,Burge...  Missouri City
72721  Fast Food Restaurant,American Restaurant,Burge...  Missouri City
72722  Fast Food Restaurant,American Restaurant,Burge...  Missouri City
72723  Fast Food Restaurant,American Restaurant,Burge...  Missouri City
72724  Fast Food Restaurant,American Restaurant,Burge...  Missouri City
72725  Fast Food Restaurant,American Restaurant,Burge...  Missouri City
72726  Fast Food Restaurant,American Restaurant,Burge...  Missouri City
72727  Fast Food Restaurant,American Restaurant,Burge...  Missouri City
73816  BBQ Joint and American Restaurant,American Res...  Missouri City
73817  BBQ Joint and American Restaurant,American Res...  Missouri City
73818  BBQ Joint and American Restaurant,American Res...  Missouri City

                    cuisines             dateAdded           dateUpdated  \
11886  Fast Food Restaurants  2016-03-29T04:51:30Z  2017-07-06T02:05:25Z
30382                Mexican  2015-11-15T18:22:40Z  2016-04-24T16:02:00Z
40483                  Pizza  2016-04-02T05:28:33Z  2016-09-14T02:53:47Z
40663                Mexican  2016-06-04T20:48:21Z  2016-10-20T21:47:00Z
40664                Mexican  2016-06-04T20:48:21Z  2016-10-20T21:47:00Z
40665                Mexican  2016-06-04T20:48:21Z  2016-10-20T21:47:00Z
43856                Mexican  2015-11-25T18:32:02Z  2017-07-06T20:49:46Z
43857                Mexican  2015-11-25T18:32:02Z  2017-07-06T20:49:46Z
52930                Mexican  2015-12-02T19:29:16Z  2016-05-05T00:56:00Z
52931                Mexican  2015-12-02T19:29:16Z  2016-05-05T00:56:00Z
52932                Mexican  2015-12-02T19:29:16Z  2016-05-05T00:56:00Z
52933                Mexican  2015-12-02T19:29:16Z  2016-05-05T00:56:00Z
52934                Mexican  2015-12-02T19:29:16Z  2016-05-05T00:56:00Z
52935                Mexican  2015-12-02T19:29:16Z  2016-05-05T00:56:00Z
52936                Mexican  2015-12-02T19:29:16Z  2016-05-05T00:56:00Z
52937                Mexican  2015-12-02T19:29:16Z  2016-05-05T00:56:00Z
52938                Mexican  2015-12-02T19:29:16Z  2016-05-05T00:56:00Z
52939                Mexican  2015-12-02T19:29:16Z  2016-05-05T00:56:00Z
65070   Take Out Restaurants  2015-11-06T10:12:53Z  2016-05-05T00:55:58Z
72718                Mexican  2015-11-15T18:25:42Z  2017-07-06T20:49:45Z
72719                Mexican  2015-11-15T18:25:42Z  2017-07-06T20:49:45Z
72720                Mexican  2015-11-15T18:25:42Z  2017-07-06T20:49:45Z
72721                Mexican  2015-11-15T18:25:42Z  2017-07-06T20:49:45Z
72722                Mexican  2015-11-15T18:25:42Z  2017-07-06T20:49:45Z
72723                Mexican  2015-11-15T18:25:42Z  2017-07-06T20:49:45Z
72724                Mexican  2015-11-15T18:25:42Z  2017-07-06T20:49:45Z
72725                Mexican  2015-11-15T18:25:42Z  2017-07-06T20:49:45Z
72726                Mexican  2015-11-15T18:25:42Z  2017-07-06T20:49:45Z
72727                Mexican  2015-11-15T18:25:42Z  2017-07-06T20:49:45Z
73816                Mexican  2016-03-05T19:51:51Z  2016-04-27T08:12:33Z
73817                Mexican  2016-03-05T19:51:51Z  2016-04-27T08:12:33Z
73818                Mexican  2016-03-05T19:51:51Z  2016-04-27T08:12:33Z

         latitude   longitude menus.category menus.currency  \
11886  341.659426 -599.798959          Tacos            USD
30382  341.659426 -599.798959          Tacos            USD
40483  341.659426 -599.798959          Tacos            USD
40663  341.659426 -599.798959          Tacos            USD
40664  341.659426 -599.798959          Tacos            USD
40665  341.659426 -599.798959          Tacos            USD
43856  341.659426 -599.798959          Tacos            USD
43857  341.659426 -599.798959          Tacos            USD
52930  341.659426 -599.798959          Tacos            USD
52931  341.659426 -599.798959          Tacos            USD
52932  341.659426 -599.798959          Tacos            USD
52933  341.659426 -599.798959          Tacos            USD
52934  341.659426 -599.798959          Tacos            USD
52935  341.659426 -599.798959          Tacos            USD
52936  341.659426 -599.798959          Tacos            USD
52937  341.659426 -599.798959          Tacos            USD
52938  341.659426 -599.798959          Tacos            USD
52939  341.659426 -599.798959          Tacos            USD
65070  341.659426 -599.798959          Tacos            USD
72718  341.659426 -599.798959          Tacos            USD
72719  341.659426 -599.798959          Tacos            USD
72720  341.659426 -599.798959          Tacos            USD
72721  341.659426 -599.798959          Tacos            USD
72722  341.659426 -599.798959          Tacos            USD
72723  341.659426 -599.798959          Tacos            USD
72724  341.659426 -599.798959          Tacos            USD
72725  341.659426 -599.798959          Tacos            USD
72726  341.659426 -599.798959          Tacos            USD
72727  341.659426 -599.798959          Tacos            USD
73816  341.659426 -599.798959          Tacos            USD
73817  341.659426 -599.798959          Tacos            USD
73818  341.659426 -599.798959          Tacos            USD

                                  menus.dateSeen  \
11886  2016-03-29T04:51:30Z,2016-05-24T02:45:40Z
30382                       2016-03-25T02:54:37Z
40483  2016-04-02T05:28:33Z,2016-09-14T02:53:47Z
40663  2016-06-04T20:48:21Z,2016-10-20T21:47:00Z
40664  2016-06-04T20:48:21Z,2016-10-20T21:47:00Z
40665  2016-06-04T20:48:21Z,2016-10-20T21:47:00Z
43856  2015-11-25T18:32:02Z,2016-06-08T16:18:22Z
43857  2015-11-25T18:32:02Z,2016-06-08T16:18:22Z
52930                       2016-04-02T05:28:11Z
52931                       2016-04-02T05:28:11Z
52932                       2016-04-02T05:28:11Z
52933                       2016-04-02T05:28:11Z
52934                       2016-04-02T05:28:11Z
52935                       2016-04-02T05:28:11Z
52936                       2016-04-02T05:28:11Z
52937                       2016-04-02T05:28:11Z
52938                       2016-04-02T05:28:11Z
52939                       2016-04-02T05:28:11Z
65070  2016-04-02T05:28:16Z,2015-11-06T10:12:53Z
72718                       2016-03-27T05:30:36Z
72719                       2016-03-27T05:30:36Z
72720                       2016-03-27T05:30:36Z
72721                       2016-03-27T05:30:36Z
72722                       2016-03-27T05:30:36Z
72723                       2016-03-27T05:30:36Z
72724                       2016-03-27T05:30:36Z
72725                       2016-03-27T05:30:36Z
72726                       2016-03-27T05:30:36Z
72727                       2016-03-27T05:30:36Z
73816  2016-04-27T08:12:33Z,2016-03-05T19:51:51Z
73817  2016-04-27T08:12:33Z,2016-03-05T19:51:51Z
73818  2016-04-27T08:12:33Z,2016-03-05T19:51:51Z

                                       menus.description  \
11886  Crunchy corn tortilla, spicy beef, american ch...
30382                             With choice of 2 sides
40483  Crunchy corn tortilla, spicy beef, american ch...
40663  Fried, blackened or grilled flounder with lett...
40664                        Served with chips and salsa
40665  Fajita beef or chicken, lettuce, pineapple man...
43856  Crunchy corn tortilla, spicy beef, american ch...
43857  Crunchy corn tortilla, spicy beef, american ch...
52930  A crunchy, red corn tortilla shell, filled wit...
52931  Crunchy corn tortilla, spicy beef, american ch...
52932  Crunchy corn tortilla, spicy beef, american ch...
52933  Crunchy corn tortilla, spicy beef, american ch...
52934  A warm, soft flour tortilla filled with authen...
52935  A crunchy, corn taco shell filled with seasone...
52936  Crunchy corn tortilla, spicy beef, american ch...
52937  A crunchy taco made with premium seasoned beef...
52938  A crunchy, corn taco shell filled with seasone...
52939  A crunchy, corn taco shell filled with seasone...
65070  Spice up your morning with peppers, onions, fl...
72718  Scrambled eggs, charbroiled steak, pepper jack...
72719  A flour tortilla filled with charbroiled chick...
72720  Scrambled eggs, sausage, ham, bacon bits, hash...
72721  A crisp corn tortilla filled with seasoned gro...
72722  A crisp corn tortilla filled with seasoned gro...
72723  Warm sausage gravy, smothered over scrambled e...
72724  Warm sausage gravy, smothered over scrambled e...
72725  Seasoned ground beef, pinto beans, and jack an...
72726  Pinto beans, jack and cheddar cheeses, wrapped...
72727  Crunchy corn tortilla, spicy beef, american ch...
73816  Fried, blackened or grilled flounder with lett...
73817                        Served with chips and salsa
73818  Fajita beef or chicken, lettuce, pineapple man...

                               menus.name  \
11886                                Taco
30382                          Taco Plate
40483                   Breakfast Burrito
40663                          Fish Tacos
40664                     Breakfast Tacos
40665                      Taco Al Carbon
43856                   Fish Taco Delight
43857              Breakfast Taco Platter
52930                        Volcano Taco
52931                     Volcano Burrito
52932              Soft Taco Supreme Beef
52933             Grilled Chicken Burrito
52934      Fresco Grilled Steak Soft Taco
52935                 Fresco Crunchy Taco
52936      Fresco Burrito Supreme Chicken
52937                 Doritos Locos Tacos
52938                Crunchy Taco Supreme
52939                        Crunchy Taco
65070                     Sausage Burrito
72718               Steak and Egg Burrito
72719         Southwest Chicken Soft Taco
72720            Loaded Breakfast Burrito
72721               Hard Taco Ground Beef
72722                         Crispy Taco
72723  Big Country Breakfast Burrito (ca)
72724       Big Country Breakfast Burrito
72725       Beef, Bean and Cheese Burrito
72726             Bean and Cheese Burrito
72727               Bacon and Egg Burrito
73816                          Fish Tacos
73817                     Breakfast Tacos
73818                      Taco Al Carbon

                                      name province
11886                      Jack in the Box       TX
30382                    Fuzzy's Taco Shop       TX
40483                Casey's General Store       MO
40663                      Hoggs N' Chicks       TX
40664                      Hoggs N' Chicks       TX
40665                      Hoggs N' Chicks       TX
43856                             59 Diner       TX
43857                             59 Diner       TX
52930                            Taco Bell       MO
52931                            Taco Bell       MO
52932                            Taco Bell       MO
52933                            Taco Bell       MO
52934                            Taco Bell       MO
52935                            Taco Bell       MO
52936                            Taco Bell       MO
52937                            Taco Bell       MO
52938                            Taco Bell       MO
52939                            Taco Bell       MO
65070                           Mcdonald's       MO
72718                           Carl's Jr.       TX
72719                           Carl's Jr.       TX
72720                           Carl's Jr.       TX
72721                           Carl's Jr.       TX
72722                           Carl's Jr.       TX
72723                           Carl's Jr.       TX
72724                           Carl's Jr.       TX
72725                           Carl's Jr.       TX
72726                           Carl's Jr.       TX
72727                           Carl's Jr.       TX
73816  Hoggs N' Chicks - A Fine Food Shack       TX
73817  Hoggs N' Chicks - A Fine Food Shack       TX
73818  Hoggs N' Chicks - A Fine Food Shack       TX

In [173]:
# Task 7: Filter for 'Taco Bell' establishments in the city of 'California', Missouri. Provide the
# indices for these establishments.

filtered_df7 = df[((df['city'] == 'California') | (df['city'] == 'Missouri City')) & (df['name'] == 'Taco Bell')]
print(filtered_df7)

                         id             address  \
52930  AVwdKTFqIN2L1WUfs1SP  1020 W Buchanan St
52931  AVwdKTFqIN2L1WUfs1SP  1020 W Buchanan St
52932  AVwdKTFqIN2L1WUfs1SP  1020 W Buchanan St
52933  AVwdKTFqIN2L1WUfs1SP  1020 W Buchanan St
52934  AVwdKTFqIN2L1WUfs1SP  1020 W Buchanan St
52935  AVwdKTFqIN2L1WUfs1SP  1020 W Buchanan St
52936  AVwdKTFqIN2L1WUfs1SP  1020 W Buchanan St
52937  AVwdKTFqIN2L1WUfs1SP  1020 W Buchanan St
52938  AVwdKTFqIN2L1WUfs1SP  1020 W Buchanan St
52939  AVwdKTFqIN2L1WUfs1SP  1020 W Buchanan St

                                              categories        city cuisines  \
52930  Fast Food Restaurant and Mexican Restaurant,Me...  California  Mexican
52931  Fast Food Restaurant and Mexican Restaurant,Me...  California  Mexican
52932  Fast Food Restaurant and Mexican Restaurant,Me...  California  Mexican
52933  Fast Food Restaurant and Mexican Restaurant,Me...  California  Mexican
52934  Fast Food Restaurant and Mexican Restaurant,Me...  California  Mexican
52935  Fast Food Restaurant and Mexican Restaurant,Me...  California  Mexican
52936  Fast Food Restaurant and Mexican Restaurant,Me...  California  Mexican
52937  Fast Food Restaurant and Mexican Restaurant,Me...  California  Mexican
52938  Fast Food Restaurant and Mexican Restaurant,Me...  California  Mexican
52939  Fast Food Restaurant and Mexican Restaurant,Me...  California  Mexican

                  dateAdded           dateUpdated    latitude   longitude  \
52930  2015-12-02T19:29:16Z  2016-05-05T00:56:00Z  341.659426 -599.798959
52931  2015-12-02T19:29:16Z  2016-05-05T00:56:00Z  341.659426 -599.798959
52932  2015-12-02T19:29:16Z  2016-05-05T00:56:00Z  341.659426 -599.798959
52933  2015-12-02T19:29:16Z  2016-05-05T00:56:00Z  341.659426 -599.798959
52934  2015-12-02T19:29:16Z  2016-05-05T00:56:00Z  341.659426 -599.798959
52935  2015-12-02T19:29:16Z  2016-05-05T00:56:00Z  341.659426 -599.798959
52936  2015-12-02T19:29:16Z  2016-05-05T00:56:00Z  341.659426 -599.798959
52937  2015-12-02T19:29:16Z  2016-05-05T00:56:00Z  341.659426 -599.798959
52938  2015-12-02T19:29:16Z  2016-05-05T00:56:00Z  341.659426 -599.798959
52939  2015-12-02T19:29:16Z  2016-05-05T00:56:00Z  341.659426 -599.798959

      menus.category menus.currency        menus.dateSeen  \
52930          Tacos            USD  2016-04-02T05:28:11Z
52931          Tacos            USD  2016-04-02T05:28:11Z
52932          Tacos            USD  2016-04-02T05:28:11Z
52933          Tacos            USD  2016-04-02T05:28:11Z
52934          Tacos            USD  2016-04-02T05:28:11Z
52935          Tacos            USD  2016-04-02T05:28:11Z
52936          Tacos            USD  2016-04-02T05:28:11Z
52937          Tacos            USD  2016-04-02T05:28:11Z
52938          Tacos            USD  2016-04-02T05:28:11Z
52939          Tacos            USD  2016-04-02T05:28:11Z

                                       menus.description  \
52930  A crunchy, red corn tortilla shell, filled wit...
52931  Crunchy corn tortilla, spicy beef, american ch...
52932  Crunchy corn tortilla, spicy beef, american ch...
52933  Crunchy corn tortilla, spicy beef, american ch...
52934  A warm, soft flour tortilla filled with authen...
52935  A crunchy, corn taco shell filled with seasone...
52936  Crunchy corn tortilla, spicy beef, american ch...
52937  A crunchy taco made with premium seasoned beef...
52938  A crunchy, corn taco shell filled with seasone...
52939  A crunchy, corn taco shell filled with seasone...

                           menus.name       name province
52930                    Volcano Taco  Taco Bell       MO
52931                 Volcano Burrito  Taco Bell       MO
52932          Soft Taco Supreme Beef  Taco Bell       MO
52933         Grilled Chicken Burrito  Taco Bell       MO
52934  Fresco Grilled Steak Soft Taco  Taco Bell       MO
52935             Fresco Crunchy Taco  Taco Bell       MO
52936  Fresco Burrito Supreme Chicken  Taco Bell       MO
52937             Doritos Locos Tacos  Taco Bell       MO
52938            Crunchy Taco Supreme  Taco Bell       MO
52939                    Crunchy Taco  Taco Bell       MO

In [351]:
# Task 8: Let's find establishments that are either 'Taco Bell' or are located in New York City. It
# is required that the menu name does not contain 'Volcano Taco' or 'Fresco Soft Taco'. Save
# the resulting data into a DataFrame named result.

result = df[((df['city'] == 'New York') |  (df['name'] == 'Taco Bell')) & ((df['menus.name'] == 'Volcano Taco') | (df['menus.name'] == 'Fresco Soft Taco'))]
print(result)

                         id               address  \
130    AVwc_9yCByjofQCxkdRX       322 S. Broadway
134    AVwc_9yCByjofQCxkdRX       322 S. Broadway
443    AVwc_Mkg_7pvs4fz1Eiu   19025 State Route 2
447    AVwc_Mkg_7pvs4fz1Eiu   19025 State Route 2
979    AVwc09Ug_7pvs4fzzZJs  321 State Highway 13
...                     ...                   ...
74712  AVweP4CX_7pvs4fzBVNJ      149 Oakbrooke Dr
75015  AVweQ_9gByjofQCxwtKo     Route 1 Box 180-A
75019  AVweQ_9gByjofQCxwtKo     Route 1 Box 180-A
75780  AVweTxkOkufWRAb5BzP7   11315 Causeway Blvd
75785  AVweTxkOkufWRAb5BzP7   11315 Causeway Blvd

                                              categories              city  \
130    Fast Food,Restaurants,Mexican,Breakfast,Vegeta...             Salem
134    Fast Food,Restaurants,Mexican,Breakfast,Vegeta...             Salem
443    Fast Food Restaurant,Mexican Restaurant,Restau...            Monroe
447    Fast Food Restaurant,Mexican Restaurant,Restau...            Monroe
979    Fast Food Restaurant,Mexican Restaurant,Restau...   Wisconsin Dells
...                                                  ...               ...
74712  Fast Food Restaurant,Mexican Restaurant,Taco P...  Mount Washington
75015  Fast Food Restaurant,Mexican Restaurant,Fast F...          Richburg
75019  Fast Food Restaurant,Mexican Restaurant,Fast F...          Richburg
75780  Fast Food Restaurant,Mexican Restaurant,Fast F...           Brandon
75785  Fast Food Restaurant,Mexican Restaurant,Fast F...           Brandon

                    cuisines             dateAdded           dateUpdated  \
130                  Mexican  2016-03-28T06:01:51Z  2017-06-27T10:01:48Z
134                  Mexican  2016-03-28T06:01:51Z  2017-06-27T10:01:48Z
443                  Mexican  2015-09-21T08:29:30Z  2017-07-01T12:26:25Z
447                  Mexican  2015-09-21T08:29:30Z  2017-07-01T12:26:25Z
979    Fast Food Restaurants  2016-06-20T17:38:42Z  2017-07-03T17:17:26Z
...                      ...                   ...                   ...
74712                Mexican  2016-04-04T05:09:13Z  2017-07-01T19:15:20Z
75015                Mexican  2015-10-23T03:09:54Z  2017-07-06T21:27:44Z
75019                Mexican  2015-10-23T03:09:54Z  2017-07-06T21:27:44Z
75780  Fast Food Restaurants  2016-03-30T04:15:38Z  2017-07-03T14:00:59Z
75785  Fast Food Restaurants  2016-03-30T04:15:38Z  2017-07-03T14:00:59Z

         latitude   longitude menus.category menus.currency  \
130    341.659426 -599.798959          Tacos            USD
134    341.659426 -599.798959          Tacos            USD
443    341.659426 -599.798959          Tacos            USD
447    341.659426 -599.798959          Tacos            USD
979    341.659426 -599.798959          Tacos            USD
...           ...         ...            ...            ...
74712  341.659426 -599.798959          Tacos            USD
75015  341.659426 -599.798959          Tacos            USD
75019  341.659426 -599.798959          Tacos            USD
75780  341.659426 -599.798959          Tacos            USD
75785  341.659426 -599.798959          Tacos            USD

                                  menus.dateSeen  \
130    2016-03-28T06:01:51Z,2016-06-06T16:15:44Z
134    2016-03-28T06:01:51Z,2016-06-06T16:15:44Z
443    2016-05-19T13:46:28Z,2016-04-04T03:12:06Z
447    2016-05-19T13:46:28Z,2016-04-04T03:12:06Z
979                         2016-06-20T17:38:42Z
...                                          ...
74712  2016-04-04T05:09:13Z,2016-07-31T00:12:39Z
75015                       2015-10-23T03:09:54Z
75019                       2015-10-23T03:09:54Z
75780                       2016-03-30T04:15:38Z
75785                       2016-03-30T04:15:38Z

                                       menus.description        menus.name  \
130    Crunchy corn tortilla, spicy beef, american ch...      Volcano Taco
134    Crunchy corn tortilla, spicy beef, american ch...  Fresco Soft Taco
443    Crunchy corn tortilla, spicy beef, american ch...      Volcano Taco
447    Crunchy corn tortilla, spicy beef, american ch...  Fresco Soft Taco
979    Crunchy corn tortilla, spicy beef, american ch...      Volcano Taco
...                                                  ...               ...
74712  Crunchy corn tortilla, spicy beef, american ch...  Fresco Soft Taco
75015  A crunchy, red corn tortilla shell, filled wit...      Volcano Taco
75019  Crunchy corn tortilla, spicy beef, american ch...  Fresco Soft Taco
75780  A crunchy red corn tortilla shell, filled with...      Volcano Taco
75785  This taco bell fresco taco is a warm, soft flo...  Fresco Soft Taco

            name province
130    Taco Bell       NH
134    Taco Bell       NH
443    Taco Bell       WA
447    Taco Bell       WA
979    Taco Bell       WI
...          ...      ...
74712  Taco Bell       KY
75015  Taco Bell       SC
75019  Taco Bell       SC
75780  Taco Bell       FL
75785  Taco Bell       FL

[280 rows x 16 columns]

In [353]:
# Task 9: Let's select restaurants where the payment currency value is not missing. Save the
# data into a resulting DataFrame named result.

result2 = df[~df['menus.currency'].isna()]
#'menus.currency' sütunundakı boşluqları doldurmuşdum öncədən.

In [355]:
# Task 10: Try running data['categories'] and data[['categories']]. Observe the
# type and the values of their elements.

print(df['categories'])

0        Restaurant Delivery Service,Restaurants,Pizza,...
1        Restaurant Delivery Service,Restaurants,Pizza,...
2             Golf Course, American Restaurant, and Resort
3                                     Fast Food Restaurant
4        Mexican Restaurant Mid-City West,Mexican Resta...
                               ...
77255                                           Restaurant
77256                                           Restaurant
77257                                           Restaurant
77258                                           Restaurant
77259                                           Restaurant
Name: categories, Length: 77260, dtype: object

In [357]:
print(df[['categories']])

                                              categories
0      Restaurant Delivery Service,Restaurants,Pizza,...
1      Restaurant Delivery Service,Restaurants,Pizza,...
2           Golf Course, American Restaurant, and Resort
3                                   Fast Food Restaurant
4      Mexican Restaurant Mid-City West,Mexican Resta...
...                                                  ...
77255                                         Restaurant
77256                                         Restaurant
77257                                         Restaurant
77258                                         Restaurant
77259                                         Restaurant

[77260 rows x 1 columns]

In [183]:
type(df[['categories']])

pandas.core.frame.DataFrame

In [185]:
type(df['categories'])

pandas.core.series.Series

In [359]:
# Task 11: List the top 5 cities with the highest number of records, separated by a comma and
# a space.

', '.join(df['city'].value_counts().head().index)

'San Diego, Los Angeles, Chicago, San Francisco, New York'

In [361]:
# Task 12: Count how many 'Taco Bell' restaurants are in each city. Select the 5 cities where
# this restaurant appears most frequently. Save the number of restaurants for these cities
# along with their names as a pd.Series object into the variable result.

new_df = df[df['name'] == 'Taco Bell']
new_df['city'].value_counts().head()

city
Indianapolis        84
Columbus            63
Charleston          63
Tampa               62
South Lake Tahoe    42
Name: count, dtype: int64

In [385]:
df['dateAdded'] = pd.to_datetime(df['dateAdded'], errors='coerce')

In [387]:
df['dateUpdated'] = pd.to_datetime(df['dateUpdated'], errors='coerce')

In [365]:
# Task 13: Let's find restaurants that opened in October. Provide the indices of the first five
# restaurants, separated by a comma and a space, in ascending order.

df_restaurants = df[df['dateAdded'].dt.month == 10].head()
joined = ', '.join(df_restaurants['name'].astype(str))
print(joined)

Diablo Grande Golf & Country Club, Riff's Joint, Riff's Joint, Riff's Joint, Riff's Joint

In [377]:
# Task 14: Group the data by the month the restaurant opened (the dateAdded variable).
# How many restaurants were opened each month? Calculate this based on the count of
# unique restaurant IDs for each month. The dateAdded values should be the index. Save
# the resulting DataFrame in result.

import duckdb

con = duckdb.connect()
result = con.execute("SELECT dateAdded, COUNT(id) AS count_id FROM df GROUP BY dateAdded ORDER BY count_id DESC").df()
print(result)

                      dateAdded  count_id
0     2015-10-23 07:21:55+05:00        79
1     2015-10-23 09:21:18+05:00        68
2     2016-06-08 20:06:19+04:00        61
3     2016-04-01 10:40:50+04:00        59
4     2016-03-24 13:56:19+04:00        54
...                         ...       ...
17960 2015-11-02 21:47:26+04:00         1
17961 2015-11-02 21:52:06+04:00         1
17962 2015-10-20 04:50:22+05:00         1
17963 2017-06-22 22:33:22+04:00         1
17964 2017-06-22 22:34:04+04:00         1

[17965 rows x 2 columns]

In [ ]:
# Task 15: In this task, you need to add a column named update_delta with the number of
# whole days calculated from the difference between dateUpdated and dateAdded. Then,
# for each city, find (in the specified order):
# ● The mean of the update_delta variable.
# ● The latitude of the northernmost eatery (the more northern the eatery, the higher the
# latitude value). The city names should not be the index. Save the resulting
# DataFrame into the variable result. Also, save the mean update_deltafor the
# city 'Zephyrhills' into the variable zep_mean.

In [395]:
df['update_delta'] = (df['dateUpdated'] - df['dateAdded']).dt.days
print(df['update_delta'])

0        336
1        336
2          0
3         24
4        114
        ...
77255      0
77256      0
77257      0
77258      0
77259      0
Name: update_delta, Length: 77260, dtype: int64

In [399]:
import duckdb

con = duckdb.connect()
avg_delta = con.execute("SELECT city, AVG(update_delta) AS avg_update_delta FROM df GROUP BY city").df()
print(avg_delta)

               city  avg_update_delta
0       Easthampton        328.000000
1       Saint Louis        288.200000
2         Ypsilanti        239.250000
3         Bradenton        505.391304
4         Corsicana        145.937500
...             ...               ...
3596         Mathis        134.000000
3597         Jordan        117.000000
3598         Hixson        603.000000
3599        Brawley        451.000000
3600  Barboursville        311.000000

[3601 rows x 2 columns]

In [405]:
import duckdb

con = duckdb.connect()
avg_delta = con.execute("SELECT city, latitude FROM df ORDER BY latitude DESC LIMIT 1").df()
print(avg_delta)

      city  latitude
0  Seattle   476.794

In [415]:
# Task 16: Select restaurants that have 'Pizza' mentioned in their categories column.
# Provide the index of the 3rd element from the filtered results.

df_pizza = df[df['categories'].str.contains('pizza', case=False, na=False)]
df_pizza.index[2]

66

In [ ]:
# Task 17: In this task, you again need to add a column update_delta, which will store the
# difference in days between dateUpdated and dateAdded. Calculate the mean and
# median of this new column. List the values separated by a space (mean first, then median),
# rounded to 2 decimal places.

In [431]:
result_mean = round(df['update_delta'].mean(),2)   
result_median = round(df['update_delta'].median(),2)

print(result_mean,' ',result_median)

326.22   364.0

In [ ]:
# Task 18: For this task, you need to select records that have more than 20 categories. Then,
# group them by province and calculate the minimum longitude in each. Round the
# longitude values to 3 decimal places. Next, save the resulting DataFrame to a CSV file
# using a semicolon (;) as the separator. The DataFrame itself should contain two columns:
# province and longitude.

In [451]:
df['categories_count'] = df['categories'].str.split(',').apply(len)
filtered_df = df[df['categories_count']>20]

import duckdb 
con = duckdb.connect()
result18 = con.execute("SELECT province, ROUND(longitude,3) FROM df ORDER BY longitude LIMIT 1").df()

print(result18)

  province  round(longitude, 3)
0       TX             -997.672

In [453]:
type(result18)

pandas.core.frame.DataFrame